@import '../../variables.scss';

.notifications {
  width: 35rem;
  max-width: 90%;
  margin-inline: auto;

  @media screen and (min-width: 1024px) {
    max-width: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-end: 2rem;

    @media screen and (min-width: 1024px) {
      margin-block-end: 0;
    }

    &-item {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      border-radius: 12px;
      color: $neutral-clr-v-darkblue;
      // font-size: 1rem;
      font-size: 0.85rem;
      line-height: 1.2;

      &.unread {
        background-color: $neutral-clr-vlight-grayblue;

        .notifications__message {
          &:hover {
            color: $primary-clr-blue;
            cursor: pointer;
          }
        }
        .notifications__username {
          &:hover {
            color: $primary-clr-blue;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__username {
    color: #111;
  }

  &__activity {
    margin-inline: 0.2rem;
  }

  &__message {
    font-weight: 600;
  }

  &__status {
    margin-block-start: 0.25rem;
  }

  &__private-message {
    margin-block-start: 1rem;
    border: 1px solid $neutral-clr-light-grayishblue-2;
    padding: 1rem;
    border-radius: 4px;
    color: $neutral-clr-grayishblue;
    cursor: pointer;

    &:hover {
      background-color: #dfebfe;
      color: $neutral-clr-dark-grayishblue;
    }
  }
}

.user__photo {
  flex: 0 0 auto;

  img {
    width: 35px;
  }
}

.notifications__unread {
  border-radius: 100px;
  width: 8px;
  display: block;
  display: inline-block;
  height: 8px;
  background: $primary-clr-red;
  margin-inline-start: 0.5rem;
}

.notifications__read {
  display: none;
}

.commented_picture {
  width: 50px;
  border: none;
  cursor: pointer;
  margin-inline-start: auto;

  img {
    &:hover {
      border: 2px inset $neutral-clr-light-grayishblue-1;
      border-radius: 8px;
    }
  }
}
