@import '../../variables.scss';

.notifications {
  width: 30rem;
  max-width: 90%;
  margin-inline: auto;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-end: 2rem;

    &-item {
      display: flex;
      gap: 1rem;
      padding: 1rem;
      border-radius: 12px;
      color: $neutral-clr-v-darkblue;
      // font-size: 1rem;
      font-size: 0.85rem;
      line-height: 1.2;

      &.unread {
        background-color: $neutral-clr-vlight-grayblue;
      }
    }
  }

  &__username {
    color: #111;
  }

  &__activity {
    margin-inline: 0.2rem;
  }

  &__message {
    font-weight: 600;
  }

  &__status {
    margin-block-start: 0.25rem;
  }

  &__private-message {
    margin-block-start: 1rem;
    border: 1px solid $neutral-clr-light-grayishblue-2;
    padding: 1rem;
    border-radius: 4px;
    color: $neutral-clr-grayishblue;
  }
}

.user__photo {
  flex: 0 0 auto;

  img {
    width: 35px;
  }
}

.notifications__unread {
  border-radius: 100px;
  width: 8px;
  display: block;
  display: inline-block;
  height: 8px;
  background: $primary-clr-red;
  margin-inline-start: 0.5rem;
}

.notifications__read {
  display: none;
}

.commented_picture {
  width: 50px;
}
